@import url(https://fonts.googleapis.com/css?family=Oxygen:400,700);
* {
  font-family: 'Oxygen', sans-serif;
  color: #2B2B2B;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 14px;
  font-size: 1.4rem;
}

.header-main {
  max-width: 1280px;
  padding: 20px 10px;
  margin: 0 auto;
  font-size: 1.6rem;
}
.header-main:after {
  content: "";
  display: table;
  clear: both;
}
.header-main .header-main-left {
  float: left;
  width: 30%;
}
.header-main .header-main-left .header-main-logo {
  margin: 0;
}
.header-main .header-main-left .header-main-logo img {
  max-width: 200px;
}
.header-main .header-main-right {
  float: right;
  width: 70%;
}
.header-main .header-main-right .header-main-nav, .header-main .header-main-right .header-main-social {
  float: right;
  height: 86.73px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.header-main .header-main-right .header-main-nav ul {
  padding: 0;
  margin: 0;
}
.header-main .header-main-right .header-main-nav ul li {
  float: right;
  padding: 5px 10px;
  list-style: none;
}
.header-main .header-main-right .header-main-nav ul li a {
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;
}
